body {
  margin: auto 0;
  background-color: #0D1B2A;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: 'Quicksand', sans-serif;
  position: relative;

  margin-top: 60px;
  width: 1024px;
  height: 700px;
  border: 10px solid #4F5D75;
  border-radius: 10px;
  background-color: #2D3142;
  color: #E0FBFC;
}

h1 {
  margin: 20px auto;
  text-align: center;
  font-weight: 800;
  font-size: 62px;
}

.pageOpener {
  position: absolute;
  width: 100%;
  bottom: 5%;
}

form {
  margin: 0 40px;
}

.btn-primary {
  color: #293241;
  background-color: #EE6C4D;
  border-color: #293241
}

.btn-primary:hover {
  color: #EE6C4D;
  background-color: #293241;
  border-color: #EE6C4D
}

footer {
  
}

@media (max-width: 575px) {
  .App {
    width: 475px;
  }

    form {
      margin: 0 30px;
    }

  .btn-primary {
    width: 50px;
  }

  footer {
    display: none;
  }
}