.App {
  font-family: 'Quicksand', sans-serif;
  position: relative;
  margin-top: 30px;
  width: 1024px;
  height: 700px;
  border: 10px solid #2d4059;
  border-radius: 10px;
  background-color: #222831;
    color: #eeeeee;
}

h1 {
  margin: 20px auto;
  text-align: center;
  font-weight: 800;
  font-size: 62px;
}

form {
  margin: 0 40px;
  font-weight: 800;
}

footer {
  position: absolute;
  bottom: 0px;
  margin: 10px auto;
}