.Results {
    text-align: left;
    margin: auto 30px;
}

.scroll {
    overflow-y: auto;
    height: 400px;
}

button {
    margin-left: 20px;
}

.wordSearched {
    font-size: 60px;
    text-transform: capitalize;
}

.phonetic {
    line-height: 70px;
    font-size: 45px;
    color: #EE6C4D;
    text-align: center;
}